*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif ;
}
body{
    background: radial-gradient(circle at 15% 25%, rgba(0, 80, 254, 0.136) 0%, transparent 45%),
    radial-gradient(circle at 85% 60%, rgba(146, 51, 234, 0.173) 0% , transparent 50%),
    #02071b; 
    height: 100%;
}

header{
   height: 100vh;
}

.photo_profil{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    object-fit: cover;
}
.personnal{
    display: flex;
}
.hero{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 20px 30px;
    transition: all 0.4s ease-in-out; /* Transition fluide */
    background: transparent;
    justify-content: space-around;
    display: flex;
    
    display: flex;
    
}

/* L'effet quand on scroll */
.hero.scrolled {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background: #0F172A; 
    backdrop-filter: blur(100%) !important; 
    padding: 10px 5% !important; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1) !important; 
}

/* On s'assure que le texte reste lisible quand le fond devient blanc */
.hero.scrolled .logo, 
.hero.scrolled #nav-links li a {
    color: rgb(164, 164, 164) !important; 
}



a {
    text-decoration: none;
   font-size: 14px;
    display: flex;
    font-weight: 400;
    color: rgb(213, 213, 213);
    font-family: Arial, Helvetica, sans-serif;
}
.a_recherche{
    color: rgb(70, 70, 250);
}
.a_recherche:hover{
    transition: 0.5s;
    color: rgb(122, 122, 202);
}


ul{
    display: flex;
    list-style: none;
    gap: 20px;
    width: auto;
    min-width: 58%;
    border: 1px solid #1E293B;
    background: #0F172A;
    
    height: 6vh;
    border-radius: 30px;
    align-items: center;
    justify-content: center;

}
li{
    font-size: 14px;
    display: flex;
    font-weight: 400;
    color: rgb(213, 213, 213);
    font-family: Arial, Helvetica, sans-serif;
}
.logo{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(70, 70, 250);
    font-weight: 700;
    font-size: larger;
    margin: 1rem 1rem;
    backdrop-filter: blur(100%);
    color: gray;
    z-index: 1000;
    
}

.special :hover{
    transition: 1s;
    cursor: pointer;
    color: rgb(70, 70, 250);
}
a:hover{
    transition: 1s;
    cursor: pointer;
    color: rgb(70, 70, 250);
}

/* partie change color  */

/* Style du bouton */
.theme-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 17px 17px;
    border-radius: 100px;
    border: 1px solid #2563eb;
    background: transparent;
    color: #2563eb;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease;
    margin: 0.3rem 0 0 4rem;
}

.theme-btn:hover {
    background: #2563eb;
    color: white;
}

/* LE FOND MAGIQUE (Ton image) */
body.light-theme {
    background-color: #ffffff !important; /* Couleur de base claire */
    
    background-image: 
        radial-gradient(at 0% 0%, rgba(186, 215, 255, 0.5) 0px, transparent 50%), 
        radial-gradient(at 100% 0%, rgba(233, 213, 255, 0.5) 0px, transparent 50%), 
        radial-gradient(at 100% 100%, rgba(255, 230, 245, 0.5) 0px, transparent 50%),
        radial-gradient(at 0% 100%, rgba(220, 235, 255, 0.5) 0px, transparent 50%);
    background-attachment: fixed; 
    color: #00309f; 
}

body.light-theme .container_main1,
body.light-theme .container_main
 {
    background: transparent !important;
}


body.light-theme .profil{
    background: none;
}

body.light-theme .hero.scrolled{
    background: #ffffff;
    
}

body.light-theme .hero.scrolled .logo, 
.hero.scrolled #nav-links li a {
    color: #020617;
}


body.light-theme .second_main{
    background: none;
}

body.light-theme #nav-links{
   
    border: 1px solid rgb(185, 184, 184);
    background: gainsboro;
}
body.light-theme .Recherche{
    border: 1px solid rgb(185, 184, 184);
    background: none;
}

body.light-theme h1,
body.light-theme h2,

body.light-theme p
 {
    color: #1f1f1f;
}

body.light-theme .projet{
    color: #eeeeef;
}

body.light-theme .dev{
    
    color:white;
    background: #2563EB;
}

body.light-theme a{ 
    color:#2a2a2b;
    
}
body.light-theme a:hover{ 
    transition: 0.5s;
    color:#0f285f;
}

body.light-theme #auto-typing{
    color: #00309f;
}
body.light-theme .download1{
    border: none;
    outline: none;
    background:#2563EB ;
    color: white;
}

body.light-theme .download1:hover{
    transition: 1s;
    background:#0f285f ;
    color: white;
}

body.light-theme .boite_name{
    background: none;
    color: #383b40;
}

body.light-theme .boite_name:hover{
    transition: 0.2s;
    border-left: 5px solid #2563EB ;
    color: #383b40;
}


body.light-theme .boite_mail{
    background: none;
    color: #383b40;
}

body.light-theme .boite_mail:hover{
    transition: 0.2s;
    border-right: 5px solid #2563EB ;
    color: #383b40;
}
body.light-theme .boite_github{
    background: none;
    color: #383b40;
}

body.light-theme .boite_github:hover{
    transition: 0.2s;
    border-left: 5px solid #2563EB ;
    color: #383b40;
}
body.light-theme .boite_link{
    background: none;
    color: #383b40;
}

body.light-theme .boite_link:hover{
    transition: 0.2s;
    border-right: 5px solid #2563EB ;
    color: #383b40;
}

body.light-theme .myname{
    color: #2563EB;
}
body.light-theme h3{
    color: #2563EB;
}

body.light-theme .parcours1{
    
    background: none;
}
/* partie éducation */
body.light-theme .Parcours{
    padding: 3rem 0;
    background: rgb(245, 245, 245);
}

body.light-theme .container_form1{
    outline: none;
    background: white;
    box-shadow: 1px 1px 1px rgb(245, 245, 245);
    border-bottom: 10px solid #2563EB;
}

body.light-theme .name_form{
    color:  #2563EB;
}
body.light-theme .ecole{
   font-weight: 500;
}
body.light-theme .titre{
    color:  #909091;
}

body.light-theme .date{
    color:  #909091;
}

/* partie expérience */
body.light-theme .experience-section{
    background: rgb(245, 245, 245);
}

body.light-theme .experience-card{
    background:white;
    box-shadow: 1px 1px 1px rgb(245, 245, 245);
}
body.light-theme .badge-type{
    font-weight: normal;
    color:  #909091;
}

/* partie stack */

body.light-theme .stack-section{
    background: white;
}
body.light-theme .stack-title{
    color:  #2563EB;

}

body.light-theme .stack-card{
    background: rgb(245, 245, 245);
    border: none;
    box-shadow: 1px 1px 1px white;
}
body.light-theme .skill-info{
    color: rgb(63, 63, 63);
}

body.light-theme .progress-bar{
    background-color: rgb(220, 218, 218);
}

/* partie projet */

body.light-theme .project{
    background: white;
}
body.light-theme .Title-project{
    color:  #2563EB;
}
body.light-theme .project-art{
    border: none;
    outline: 1px solid gainsboro;
}

body.light-theme .title{
    color:  #2563EB;
}

body.light-theme .project-desc{
    font-size: 13px;
    color: #717171;
    font-weight: 500;
}
body.light-theme .badge{
    font-size: 13px;
    color: #717171;
    font-weight: 500;
    background: rgb(233, 233, 233);
}

body.light-theme .btn-project{
     font-family: "Poppins", sans-serif;
    font-size: 13px;
    outline: none;
    font-weight: 500;
    background: rgb(233, 233, 233);
    box-shadow: none;
}
body.light-theme .btn-project:hover{
     font-family: "Poppins", sans-serif;
    font-size: 13px;
    outline: none;
    font-weight: 500;
    background: rgb(193, 193, 193);
    box-shadow: none;
}

body.light-theme .btn-project-autre{
     font-family: "Poppins", sans-serif;
    font-size: 13px;
    outline: none;
    font-weight: 500;
    background: rgb(233, 233, 233);
    box-shadow: none;
}
body.light-theme .btn-project-autre:hover{
     font-family: "Poppins", sans-serif;
    font-size: 13px;
    outline: none;
    font-weight: 500;
    background: rgb(193, 193, 193);
    box-shadow: none;
}

/* partie certification */

body.light-theme .Certif{
    background: rgb(245, 245, 245);
}
body.light-theme .desc-certif{
   color: black;
}
body.light-theme article{
   box-shadow: 1px 5px 3px rgb(219, 219, 219);
   background: white;
   outline: none;
   
}
body.light-theme .badges-project-certif{
   font-size: 13px;
   font-weight: 500;
}
body.light-theme .institut{
   font-size: 13px;
   font-weight: 400;
   color: rgb(193, 193, 193);
}
body.light-theme .title-certif{
   font-size: 14px;
   font-weight: 500;
  
}

body.light-theme .btn-certif{
   box-shadow: none;
}

/* partie services */

body.light-theme .services{
    background: rgb(245, 245, 245);
}

body.light-theme .service-card{
   box-shadow: 1px 5px 3px rgb(219, 219, 219);
   background: white;
   outline: none;
}
body.light-theme h4{
   font-size: 16px;
}

/* partie contact */

body.light-theme .contact{
    background: white;
}
body.light-theme .contact-form{
    background:gainsboro ;
    box-shadow: 1px 5px 3px white;
    outline: none;
}

body.light-theme h4{
     color: #1e90ff;
}

body.light-theme .info-box{
    background:gainsboro ;
    box-shadow: 1px 5px 3px white;
    outline: none;
}

/* partie footer */
body.light-theme .footer{
    background:gainsboro ;
    box-shadow: 1px 5px 3px white;
    outline: none;
}
body.light-theme span{
    color: black;
}

body.light-theme .back-to-top{
   background:gainsboro ;
   
}

body.light-theme .burger-menu span{
   background: rgb(185, 184, 184); 
}



/* Ajustement du titre quand le thème est clair */
body.light-theme h1, body.light-theme .section-title {
    color: #2563eb;
}

.container_main{
    margin-top: 7rem;
    justify-items: center;
    align-items: center;
}
.Recherche{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 5.4vh;
    border-radius: 30px;
    background: #0F172A;
    border: 1px solid #1E293B;
    color: #3B82F6;
    font-weight: 400;
    font-family: system-ui, -apple-system, 
    BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, 
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 
    sans-serif;
    margin-top: 12rem;
    cursor: pointer;
}
.Recherche:hover{
    transition: 1s;
    color: #6988b9;
}
 .fa-circle-dot{
        margin-top: 0.5rem;
    }
h1{
    font-size: 5rem;
    color:#2563EB;
    font-weight: 800;
    font-family: system-ui, -apple-system, 
    BlinkMacSystemFont, 'Segoe UI', Roboto, 
    Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 1rem;

}

h2{
    font-size: 1.7rem;
    color:#2563EB;
    font-weight: 400;
    font-family: system-ui, -apple-system, 
    BlinkMacSystemFont, 'Segoe UI', Roboto, 
    Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;
}

.description{
    width: 40%;
    font-size: 1.1rem;
    font-weight: 400;
    margin-top: 0.9rem;
    font-family: system-ui, -apple-system, 
    BlinkMacSystemFont, 'Segoe UI', Roboto,
     Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(186, 186, 186);
    text-align: center;
}
.btn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}


.projet{
    display: flex;             
    justify-content: center;   
    align-items: center;       
    
    width: 10rem;
    height: 2.5rem;             
    border-radius: 10px;
    color: white;
    text-decoration: none;     
    
    font-size: 15px;
    font-weight: 500;
    background: #2563EB;
    border: none;
    margin-top: 2rem;
    cursor: pointer;
    
   
}
.download{
    display: flex;             
    justify-content: center;   
    align-items: center; 
    width: 3rem;
    height: 2.5rem ;
    background: #0F172A;
    border: 1px solid #1E293B;
    
    color: white;
    font-size: 15px;
    margin-top: 2rem;
    border-radius: 10px;
    cursor: pointer;
}
.download1{
    display: flex;             
    justify-content: center;   
    align-items: center; 
    width: 12rem;
    height: 2.5rem ;
    background: #0F172A;
    border: 1px solid #1E293B;
    color: white;
    font-size: 15px;
    margin-top: 2rem;
    border-radius: 10px;
    cursor: pointer;
    outline: 1px solid rgb(77, 171, 253);
    cursor: pointer;
    box-shadow:0 0 15px #000e37,
    0 0 15px #8899cc;
}

.projet:hover{
    transition: 1s;
    background:#0d1d40 ;
}

.download:hover{
    transition: 1s;
    background: #1c2a4b;
}
.burger-menu {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    z-index: 1000;
}

.burger-menu span {
    width: 28px;
    height: 3px;
    background-color: white;
    border-radius: 5px;
    transition: 0.3s;
}



/* Quand le menu est ouvert (classe .active ajoutée par JS) */
.burger-menu.active span:nth-child(1) {
    transform: translateY(8px) rotate(45deg); 
    background-color: #2563EB; 
}

.burger-menu.active span:nth-child(2) {
    opacity: 0; /* La barre du milieu disparaît */
    transform: translateX(-20px);
}

.burger-menu.active span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg); /* La barre du bas monte et tourne */
    background-color: #2563EB;
}

/* On s'assure que les barres ont une transition fluide */
.burger-menu span {
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}



.container_main1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;
    height: auto;
    min-height: 900px;
    background-color: #020617;
}

.first_main{
    width: 40vw;
    height: 600px;
}
.second_main{
    padding: 20px 20px;
    width: 27vw;
    border-radius: 10px;
    height: 600px;
    background: #0F172A;
     border: 1px solid #1E293B;
    justify-content: center;
    align-items: center;

}
.boite{
    display: flex;
    padding: 20px 5px;
    gap: 10px;
}
.boite2{
    display: flex;
    padding: 0 5px;
    gap: 10px;
}

.boite_name{
    background: #0F172A;
    border: 1px solid #1E293B;
    width: 12vw;
    height: 75px;
    border-radius: 10px;
    padding: 15px 15px;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 500;
    color: rgb(186, 186, 186);
}
.boite_name:hover{
        background-color: #1e4eb75b;
        transition: 1s;
        border: none;
        cursor: pointer;
}
.boite_mail{
    background: #0F172A;
    border: 1px solid #1E293B;
    width: 12vw;
    height: 75px;
    border-radius: 10px;
    padding: 15px 15px;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 500;
    color: rgb(186, 186, 186);
}
.boite_mail:hover{
        background-color: #1e4eb75b;
        transition: 1s;
        border: none;
        cursor: pointer;
}

.boite_github{
    background: #0F172A;
    border: 1px solid #1E293B;
    width: 12vw;
    height: 75px;
    border-radius: 10px;
    padding: 15px 15px;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 500;
    color: rgb(186, 186, 186);
}
.boite_github:hover{
        background-color: #1e4eb75b;
        transition: 1s;
        border: none;
        cursor: pointer;
}
.boite_link{
    background: #0F172A;
    border: 1px solid #1E293B;
    width: 12vw;
    height: 75px;
    border-radius: 10px;
    padding: 15px 15px;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 500;
    color: rgb(186, 186, 186);
}
.boite_link:hover{
        background-color: #1e4eb75b;
        transition: 1s;
        border: none;
        cursor: pointer;
}
.myname{
    font-size: 13px;
    font-family: sans-serif;
    font-weight: 600;
    margin-top: 0.6rem;
    color: rgb(186, 186, 186);
}
.me{
    border-radius: 10px;
    width: 100%;
    height: 350px;
    object-fit: cover;
    background: #2563EB;
    border: 1px solid #1E293B;
}
.me:hover{
    transition: 1s;
    transform: scale(1.08);
    cursor: pointer;
}

.profil{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 5.4vh;
    border-radius: 30px;
    background: #0F172A;
    border: 1px solid #1E293B;
    color: #3B82F6;
    font-weight: 400;
    font-family: system-ui, -apple-system, 
    BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, 
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 
    sans-serif;
    margin-top: 1rem;
    cursor: pointer;
}

h3{
    font-size: 2.5rem;
    color:#2563EB;
    font-weight: 800;
    font-family: system-ui, -apple-system, 
    BlinkMacSystemFont, 'Segoe UI', Roboto, 
    Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 1rem;

}
.p_description{
    width: 80%;
    font-size: 16px;
    font-family: sans-serif;
    color: rgb(219, 219, 219);
    font-weight: 500;
    margin-top: 1rem;
    text-align: justify;
}
.dev{
     line-height: 35px;
    font-size: 16px;
     width: 100px;
    height: 105px;
    border-radius: 5px;
    background: #0051ff3a;
    padding: 5px 7px;
    font-weight: bold;
    color:#00d0ff ;
    text-align: center;
}

.Parcours{
    justify-items: center;
    align-items: center;
    width: 100%;
    height: auto;
    min-height: 800px;
}



.parcours1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13%;
    height: 5.4vh;
    border-radius: 30px;
    background: #0F172A;
    border: 1px solid #1E293B;
    color: #3B82F6;
    font-weight: 400;
    font-family: system-ui, -apple-system, 
    BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, 
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 
    sans-serif;
    margin-top: 3rem;
    cursor: pointer;
}
.form_description{
    text-align: center;
    width: 40%;
    font-size: 16px;
    font-family: sans-serif;
    color: rgb(219, 219, 219);
    font-weight: 500;
    margin-top: 1rem; 
}
.formation_container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100%;
    margin-top: 5rem;
    padding: 0 30px;
}

.container_form1{
    width: 21rem;
    height: 34vh;
    border-radius: 10px;
    background-color: #020617;

    padding: 30px 40px;
     outline: 1px solid rgb(77, 171, 253);
    cursor: pointer;
    box-shadow:0 0 15px #000e37,
    0 0 15px #8899cc;
}
.container_form1:hover{
    transition: 1s;
    transform: scale(1.05);
    
}
.date{
     font-size: 14px;
    font-family: sans-serif;
    color: rgb(201, 201, 201);
    font-weight: 400;
    margin-top: 1rem;
}
.name_form{
     font-size: 17px;
    font-family: sans-serif;
    color: rgb(219, 219, 219);
    font-weight: 700;
    margin-top: 1.5rem;
}
.ecole{
    font-size: 15px;
    font-family: sans-serif;
    color:#3B82F6;
    font-weight: 600;
    margin-top: 1rem;
}
.titre{
     font-size: 14px;
    font-family: sans-serif;
    color: rgb(201, 201, 201);
    font-weight: 500;
    margin-top: 1rem;
}

/* partie expérience */

.experience-section {
    background-color: #020617;
    color: var(--text-main);
    padding: 40px 20px;
    justify-items: center;
    font-family: 'Inter', sans-serif;
}

.pxp{
    
    text-align: justify;
    margin-left: 1rem;
}


.section-title {
    margin-top: 1rem;
    text-align: center;
    font-size: 2.5rem;
    color: rgb(201, 201, 201); /* Violet comme sur ton image */
}

.section-subtitle {
    margin-top: 1rem;
    text-align: center;
    color: rgb(201, 201, 201); 
    margin-bottom: 50px;
}

.experience-container {
    position: relative;
    max-width: 900px;
    margin: 0 auto;
    padding-left: 40px;
    border-left: 2px solid #324e7b; /* La ligne verticale */
}

.experience-item {
    position: relative;
    margin-top: 4rem;
    margin-bottom: 40px;
}

/* Le point sur la ligne */
.experience-dot {
    position: absolute;
    left: -61px; /* Ajusté pour être centré sur la ligne */
    width: 40px;
    height: 40px;
    background: #3B82F6;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    box-shadow: 0 0 5px rgb(59, 130, 246);
    z-index: 2;
}

/* La carte d'expérience */
.experience-card {
    background:#0A1733 ;
    border: 1px solid #3B82F6;
    border-radius: 12px;
    padding: 40px;
    color: rgb(214, 214, 214);
    font-size: 1rem;
    margin-top: 1rem;
    flex-wrap: wrap;
    height: auto;
    min-height: 300px;
    transition: transform 0.3s ease, border-color 0.3s ease;
}


.experience-card:hover {
    transform: translateY(-5px);
    border-color: var(--primary-blue);
}

.card-header1 h3 {
    margin: 0;
    font-size: 1.15rem;
    display: flex;
    color: rgb(214, 214, 214);
    font-weight: 800;
    justify-content: space-between;
    align-items: center;
}

.badge-type {
    font-size: 0.75rem;
    background: rgba(9, 100, 247, 0.007);
    color: var(--primary-blue);
    padding: 4px 2px;
    border-radius: 20px;
    border: 1px solid var(--primary-blue);
}

.company {
    display: block;
    color: #3B82F6;
    font-size: 0.9rem;
    margin: 8px 0;
}

.task-list {
    width: 80%;
    font-weight: 600;
    border-radius: 10px;
    display: list-item;
    padding: 10px 10px;
    background: none;
    border: none;
   
    
}
.p_expérience{
    margin-top: 1rem;
     width: auto;
     text-align: left;
}

.task-list li {
    margin-bottom: 5px;
}

/* partie stack */

.stack-section {
    background-color: #020617;
    color: #f8fafc;
    padding: 80px 20px;
    font-family: 'Inter', sans-serif;
}

.stack-section .parcours1{
    justify-self: center;
}

.stack-title {
    text-align: center;
    font-size: 2.5rem;
    color:#2563EB;
    font-weight: 800;
    font-family: system-ui, -apple-system, 
    BlinkMacSystemFont, 'Segoe UI', Roboto, 
    Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 1rem;
}

.stack-subtitle {
    text-align: center;
    color: #94a3b8;
    max-width: 700px;
    margin: 1rem auto 50px;
}

.stack-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 30px;
    max-width: 1100px;
    margin: 0 auto;
}

.stack-card {
    background: #0f172a;
    border: 1px solid #1e293b;
    border-radius: 16px;
    padding: 30px;
}

.card-header {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 25px;
}

.card-header i {
    color: #3b82f6;
    font-size: 1.5rem;
}

.card-header h3 {
    font-size: 1.4rem;
    margin: 0;
}

.skill-item {
    margin-bottom: 20px;
}

.skill-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    font-weight: 500;
    color: #cbd5e1;
}

/* Style des barres de progression */
.progress-bar {
    width: 100%;
    height: 8px;
    background: #1e293b;
    border-radius: 10px;
    overflow: hidden;
}

.progress-fill {
    height: 100%;
    background: #2563eb; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(37, 99, 235, 0.5);
}

/* partie projet */



.Title-project{
text-align: center;
    font-size: 2.5rem;
    color:#2563EB;
    font-weight: 800;
    font-family: system-ui, -apple-system, 
    BlinkMacSystemFont, 'Segoe UI', Roboto, 
    Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 1rem;
    
}
.project .description-text{
    color: rgb(216, 216, 216);
    font-size: clamp(14px, 1.11vw, 16px);
    margin: 1rem 0 0 2rem;
    padding: 0 45px 0 10px;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    line-height: 1.5;
    
}

.project{
    width: 100%;
    height: auto;
    padding-top: 4rem;
    padding-bottom: 6rem;
    justify-items: center;
     background: radial-gradient(circle at 15% 25%, rgba(0, 80, 254, 0.136) 0%, transparent 45%),
    radial-gradient(circle at 85% 60%, rgba(146, 51, 234, 0.173) 0% , transparent 50%),
    #02071b; 
    font-family: sans-serif;
}

.project .tech-project{
    display: flex;
    
}

.project .project-art{
    width: 26vw;
    height: 88vh;
    background: transparent;
    border-radius: 30px;
    outline: 1px solid #130a31;
    /* box-shadow:0 0 15px #000e37,
           0 0 15px #4e7aff; */
    transition: 0.3s;
    gap: 2rem;
    margin: 4rem 0 0 2rem;
    overflow: hidden;
    position: relative;
}

.project .project-art:hover{
    outline: 1px solid #4e7aff;
    box-shadow:0 0 15px #000e37,
           0 0 15px #4e7aff; 
}

.img-project{
    object-fit: cover;
    width: 22vw;
    height: 32vh;
    border-radius: 5px;
    margin: 2rem 0 0 1.9rem ;
}

.title{
    font-size: clamp(18px, 1.53vw, 22px);
    color: rgb(77, 171, 253) ;
    font-weight: bold;
    margin: 2rem 0 0 1.8rem ;
}
.project-desc{
    margin: 1rem 0 0 1.8rem ;
     font-size: clamp(13px, 1.04vw, 13px);
    width: 330px;
    text-align: justify;
    font-weight: 300;
    line-height: 1.2;
    color: #c8c8c8;
}
.badges-project{
    font-size: clamp(12px, 1.04vw, 13px);
    display:flex;
    flex-wrap:wrap;
    gap:12px;
    margin: 2rem 0 0 2rem;
    font-weight: 500;
}
.btn-project{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 52px;
    margin: 1.5rem 0 0 1.8rem ;
    border-radius: 5px;
    border: none;
    outline: 1px solid rgb(77, 171, 253);
    background: none;
    cursor: pointer;
    box-shadow:0 0 15px #000e37,
           0 0 15px #8899cc;
    transition: 0.3s;
    font-weight: bold;
    font-size: clamp(12px, 0.97vw, 14px);
    color: white;
}

.btn-project a {
    display: block;
    text-decoration: none;
    color: white;
   

}

.project .btn-center{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.btn-project-autre{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 52px;
    margin: 4rem 0 0 5rem ;
    border-radius: 25px;
    border: none;
    outline: 1px solid rgb(77, 171, 253);
    background: none;
    cursor: pointer;
    box-shadow:0 0 15px #000e37,
    0 0 15px #8899cc;
    transition: 0.3s;
    font-weight: bold;
    font-size: clamp(12px, 0.97vw, 14px);
    color: white;
}
 .btn-project-autre a {
    display: block;
    text-decoration: none;
    color: white;
}
.btn-project:hover{
    background: rgb(77, 171, 253);
    border: none;
    outline: none;
    transition: 0.5s;
}
.btn-project-autre:hover{
    background: rgb(77, 171, 253);
    border: none;
    outline: none;
    transition: 0.5s;
}

/* partie certification */

.Certif{
    width: 100%;
    height: 800px;
    padding: 6rem;
   
    font-family: sans-serif;
     background: radial-gradient(circle at 15% 25%, rgba(0, 80, 254, 0.136) 0%, transparent 45%),
    radial-gradient(circle at 85% 60%, rgba(146, 51, 234, 0.173) 0% , transparent 50%),
    #02071b; 

}

.Certif .parcours1{
    justify-self: center;
}

.Certif .desc-certif{
   color: rgb(216, 216, 216);
   font-size: clamp(14px, 1.11vw, 16px);
    margin: 0 0 0 2rem;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    line-height: 1.5;
    
    
}

.h3-certifications{
    color: #2563eb;
    font-weight: bold;
     font-size: clamp(28px, 2.43vw, 35px);
    margin: 0.5rem 0 0 0;
    text-align: center;
    
}

.certif-article{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.certif-article article{
    
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
    width: 200vw;
    height: 40vh;
    background: #0d1b47;
    border-radius: 30px;
    /* outline: 1px solid #130a31; */
    box-shadow:0 0 15px #000e37,
           0 0 15px #4e7aff;
    transition: 0.3s;
    gap: 2rem;
    margin: 4rem 0 0 2rem;
}
.badge{
    background:#1f3358;
    color:#cbd5e1;
    padding:9px 17px;
    border-radius:30px;
    font-size:13px;
    font-weight: 500;
}

.badges-project-certif{

    flex-wrap:wrap;
    gap:12px;
    margin: 2rem 0 0 0rem;
    font-weight: bold;
}
 .img-certif{
    width: 70px;
    margin: 1.2rem 0 0 0;
    object-fit: cover;
    border-radius: 10px;
}
.title-certif{
    font-size: clamp(13px, 1.04vw, 15px);
    color: white;
    font-weight: 600;
    margin: 1rem 0 0 0;
}
.institut{
    font-size: clamp(13px, 1.04vw, 15px);
    color: rgb(167, 167, 167);
    font-weight: 400;
    margin: 1rem 0 0 0;
}
.btn-certif{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 42px;
    margin: 1rem 0 0 0;
    border-radius: 25px;
    border: none;
    outline: 1px solid rgb(77, 171, 253);
    background: none;
    cursor: pointer;
    box-shadow:0 0 15px #000e37,
    0 0 15px #8899cc;
    transition: 0.3s;
    font-weight: 400;
    font-size: clamp(12px, 0.97vw, 14px);
    color: white;
    gap: 0.5rem;
}


.btn-certif:hover{
    background: rgb(77, 171, 253);
    border: none;
    outline: none;
    transition: 0.5s;
}

.btn-certif a {
    display: block;
    text-decoration: none;
    color: white;
     font-weight: 400;
   font-size: clamp(12px, 0.97vw, 14px);
}


/* partie services */

.services{
   background-color: #020617;
    padding:85px 10%;
    text-align:center;
    color:white;
    font-family: sans-serif;
    
}

.services .parcours1{
    justify-self: center;
}

.services h4{
    font-size: clamp(14px, 2.43vw, 16px);
    margin-bottom:10px;
    color: rgb(77, 171, 253);
    font-size: 800;
}

.line{
    width:60px;
    height:4px;
    background:#38bdf8;
    margin:10px auto 30px;
    border-radius:10px;
}

.services-text{
    max-width:600px;
    margin:auto;
    color:#9ca3af;
    margin-bottom:60px;
}

/* GRID */

.services-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
    gap:30px;
}

/* CARD */

.service-card{
    background:#030712;
    padding:40px 30px;
    border-radius:15px;
    border:1px solid rgba(255,255,255,0.05);
    transition:0.4s;
}

.service-card:hover{
    transform:translateY(-10px);
    border:1px solid #38bdf8;
}

/* ICON */

.icon{
    width:60px;
    height:60px;
    background:#031b36;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    margin:0 auto 20px;
    font-size: clamp(18px, 1.53vw, 22px);
    color:#38bdf8;
}

.service-card h3{
    margin-bottom:10px;
}

.service-card p{
   font-size: clamp(12px, 0.97vw, 14px);
    color:#9ca3af;
}


/* partie contact */

.contact{
   
    padding:80px 10%;
    color:white;
    background-color: #020617;
    font-family: sans-serif;
}

.title-contact{
    text-align:center;
    font-size: clamp(28px, 2.43vw, 35px);
    font-weight: bold;
    color: #1e90ff;
}

.contact-subtitle{
    text-align:center;
    color:#aaa;
    margin-top:15px;
    margin-bottom:60px;
}

.contact-container{
    display:flex;
    gap:40px;
}

.contact-form{
    flex:1;
    background:#031c4d;
    padding:30px;
    border-radius:10px;
    box-shadow:0 0 15px #000e37,
    0 0 15px #8899cc;
    outline: 1px solid rgb(77, 171, 253);
}

.contact-form h4{
    margin-bottom:20px;
}

.contact-form input,
.contact-form textarea{
    width:100%;
    padding:15px;
    margin-bottom:15px;
    border:none;
    background:rgb(250, 250, 250);
    color:rgb(28, 28, 28);
    border-radius:6px;
}

.contact-form input:hover{
    box-shadow:0 0 15px #000e37,
    0 0 15px #8899cc;
    outline: 2px solid rgb(77, 171, 253);
    transition: 1s;
}

.contact-form textarea:hover{
    box-shadow:0 0 15px #000e37,
    0 0 15px #8899cc;
    outline: 2px solid rgb(77, 171, 253);
    transition: 1s;
}

.contact-form textarea{
    height:120px;
}

.contact-form button{
    width:100%;
    padding:15px;
    background:#1e90ff;
    border:none;
    color:white;
     font-size: clamp(14px, 1.11vw, 16px);
    border-radius:6px;
    cursor:pointer;
    transition: 1s;
}

.contact-form button:hover{
    background:#187bcd;
}

.contact-info{
    flex:1;
    display:flex;
    flex-direction:column;
    gap:20px;
}

.info-box{
    background:#031c4d;
    padding:25px;
    border-radius:10px;
    box-shadow:0 0 15px #000e37,
    0 0 15px #8899cc;
    outline: 1px solid rgb(77, 171, 253);
    cursor: pointer;
    display: block;
}

.info-box h4{
    margin-bottom:10px;
}
.info-box a {
    display: block;
    color: white;
    text-decoration: none;
}

/* partie footer */

.footer {
    background: linear-gradient(90deg, #0b1a3a, #0f224d);
    color: #cfd8ff;
    text-align: center;
    padding: 25px 15px;
    font-family: sans-serif;
}

.footer p {
    margin: 0;
    font-size: clamp(14px, 1.11vw, 16px);
    font-weight: 500;
}

.footer span {
    display: block;
    margin-top: 8px;
    font-size: clamp(12px, 0.97vw, 14px);
    opacity: 0.8;
}

/* button top */

.back-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    background-color: #2563eb; /* Ton bleu principal */
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 20px;
    box-shadow: 0 0 15px rgba(37, 99, 235, 0.4);
    transition: all 0.3s ease;
    z-index: 1000;
    /* Optionnel : caché par défaut (voir partie JS) */
    opacity: 0;
    visibility: hidden;
}

html {
    scroll-behavior: smooth;
}

/* Effet au survol */
.back-to-top:hover {
    background-color: #1d4ed8;
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(37, 99, 235, 0.6);
}

/* Classe pour afficher le bouton au scroll */
.back-to-top.show {
    opacity: 1;
    visibility: visible;
}


@media screen and  (max-width: 780px) {
    body{
        height: 100%;
    }
   .hero {
        justify-content: space-between;
        padding: 25px 20px;
    }
    
    .container_main{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    
        }
    .Recherche{
        width: 92%; 
        margin-top: 6rem;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
        padding: 5px 10px;
        font-size: clamp(12px, 0.54vw, 14px);
    }
    .a_recherche{
        font-size: clamp(13px, 0.54vw, 14px);
    }
    .fa-circle-dot{
        margin-top: 0.5rem;
    }
    .description{
        font-size: clamp(0.95rem, 2vw + 0.5rem, 1.1rem);
        width: 90%;
        text-align: center;
    }
     .btn {
        display: flex; /* Boutons l'un sur l'autre */
        width: 100%;
        align-items: center;
        gap: 10px;
        margin-top: 1rem;
    }
    
    .projet{
        width: 80%; /* Boutons pleine largeur */
        max-width: 150px;
    }
    .download {
        width: 80%; /* Boutons pleine largeur */
        max-width: 50px;
    }


    ul {
        display: none; 
        position: absolute;
        top: 150px;
        left: 5%;
        width: 90%;
        flex-direction: column; 
        gap: 30px;
        height: auto;
        padding: 30px;
        border-radius: 15px;
        background: #0F172A; /* Ta couleur */
        border: 1px solid #1E293B;
        z-index: 999;
    }

    li:hover{
    display: block;
    width: 200px;
    padding:10px;
    background:rgba(95,121,187,0.7);
    backdrop-filter:blur(80px);
    border-radius: 10px;
}

    @keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}
    .burger-menu {
        
        margin-top: 0.8rem;
        display: flex;
    }
    ul.active {
        display: flex; 
        animation: fadeIn 0.3s ease-in-out;
    }
    
  
    li {
        font-size: 12px; /* Texte un peu plus petit */
    }

   
    h1 {
        text-align: center;
        flex-wrap: wrap;
        font-size: clamp(1.8rem, 5vw + 1rem, 2.2rem); 
    }

    h2{
        text-align: center;
        flex-wrap: wrap;
        font-size: clamp(0.8rem, 5vw + 1rem, 1.2rem);
    }
    .container_main1{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: auto;
        min-height: 1420px;
        margin-top: 2rem;
    }
    .first_main{
         display: flex;
        justify-content: center;
        align-items: center;
       
        flex-direction: column;
        width: 100%;
        height: auto;
        text-align: center;
    }
    .p_description{
       
        text-align: center;
    }
    .second_main{
        margin-top: 2rem;
        justify-items: center;
        align-items: center;
        flex-direction: column;
        width: 90%;
        height: auto;
        
        padding: 20px 20px;
        
    }
   
    .boite{
        justify-items: center;
        align-items: center;
        display: flex;
        width: 100%;
        height: auto;
        padding: 20px 0px;

        
    }
    .boite_name{
        width: 50%;
        height: auto;
        flex-wrap: nowrap;
    }
    
     .boite_mail{
        width: 48%;
        height: auto;
        flex-wrap: nowrap;
    }
     .boite_github{
        width: 50%;
        height: auto;
        flex-wrap: nowrap;
    }
     .boite_link{
        width: 50%;
        height: auto;
        flex-wrap: nowrap;
    }
    .myname{
        flex-wrap: nowrap;
        width: 150px;
        font-size: clamp(12px,0.54vw,14px);
    }

    .boite2{
        justify-items: center;
        align-items: center;
        display: flex;
        width: 100%;
        height: auto;
    }
    h3{
        text-align: center;
    }

    /* partie parcours */

    .Parcours{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        min-height: 1500px;
    }
    .parcours1{
        display: flex;
        width: 40%;
    }
    .formation_container{
        width: 100%;
        flex-direction: column;
    }
    .form_description{
        width: 80%;
        font-size: clamp(13px,0.54vw,14px);
    }
     .section-subtitle{
        width: 80%;
        font-size: clamp(13px,0.54vw,14px);
    }
    .container_form1{
        width: 90%;
        height: auto;
        min-height: 240px;
    }

     .h3-project{
    font-size: clamp(20px, 1.74vw, 25px);
    
}
/* partie stack */
.stack-section{
    
}

/* partie expérience  */

.experience-section{
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* projet */
 

.project{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: auto;
    padding: 2rem 1rem;
}

/* les projets passent en colonne */
.project .tech-project{
    justify-items: center;
    flex-direction: column;
    align-items: center;
}

/* carte projet */
.project .project-art{
    justify-content: center;
    width: 85%;
    height: auto;
    margin: 2rem 0;
    border-radius: 20px;
}

/* image */
.img-project{
    width: 88%;
    height: 220px;
    margin: 1.8rem auto;
    display: block;
    justify-items: center;
}

/* titre */
.title{
   font-size: clamp(16px, 1.39vw, 20px);
    margin: 1rem 1.5rem;
}

/* description */
.project-desc{
    width: auto;
    margin: 1rem 1.5rem;
    font-size: clamp(12px, 0.97vw, 14px);
}

/* badges */
.badges-project{
    margin: 1rem 1.5rem;
}

/* bouton */
.btn-project{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    margin: 1.5rem auto 2rem auto;
   
}
.project .btn-center{
    display:flex;
    justify-content:center;
    align-items:center;
    margin:2rem 0;
}

.btn-project-autre{
    width:auto; 
    min-width: 300px;
    height:48px;
    margin:0 auto; /* centre le bouton */
    border-radius:25px;
    font-size: clamp(12px, 0.90vw, 13px);
}




.Certif {
    display: flex;
    align-items: center;
    flex-direction: column;
        height: auto;
        padding: 3rem 1rem;
    }

    .Certif .desc-certif {
        font-size: clamp(13px, 1.04vw, 15px);
        margin: 1rem auto;
        text-align: center;
        padding: 0 45px 0 45px;
    }

    .certif-article {
        flex-direction: column;
        gap: 2rem;
        padding: 0;
    }

    .certif-article article {
        width: 70vw;
        height: auto;
        margin: 2rem auto 0 auto;
        padding: 2rem 1rem;
        gap: 1rem;
    }

    .badges-project-certif {
        flex-direction: column;
        gap: 8px;
        margin: 0.3rem 0 0 0;
    }

    .img-certif {
        width: 60px;
        margin: 1.5rem 0 0 0;
    }

    .title-certif {
        font-size: 14px;
        margin: 0.5rem 0 0 0;
    }

    .institut {
        font-size: 13px;
        margin: 0.3rem 0 0 0;
    }

    .btn-certif {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 140px;
        height: 36px;
        font-size: clamp(12px, 0.90vw, 13px);
        margin: 1.2rem 0 0 0;
    }

   

    /* partie contact  */


    
.contact{
padding:auto;
}

.contact-title{
 font-size: clamp(22px, 1.94vw, 28px);
}

.contact-subtitle{
font-size: clamp(12px, 0.97vw, 14px);
margin-bottom:40px;
}

.contact-container{
flex-direction:column;
gap:30px;
}

.contact-form{
width: 100%;
padding:20px;
}

.contact-form h3{
font-size: clamp(16px, 1.25vw, 18px);
}

.contact-form input,
.contact-form textarea{
padding:12px;
font-size: clamp(12px, 0.97vw, 14px);
}

.contact-form textarea{
height:100px;
}

.contact-form button{
padding:12px;
font-size: clamp(12px, 0.97vw, 14px);
}

.contact-info{
width: 100%;
gap:15px;
}

.info-box{
width: 100%;
padding:20px;
}

.info-box h4{
width: 80%;
font-size: clamp(14px, 1.11vw, 16px);
}

/* footer */

.footer {
        padding: 1.5rem 1rem;
    }

    .footer p {
        font-size: clamp(12px, 0.97vw, 14px);
    }

    .footer span {
        font-size: clamp(10px, 0.83vw, 12px);
    }
   
}

@media screen and  (max-width: 480px) {

    body{
        height: 100%;
    }
    h1 {
        text-align: center;
        flex-wrap: wrap;
        font-size: clamp(1.8rem, 5vw + 1rem, 2.2rem); 
    }

    .container_main{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
      .Recherche{
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
        padding: 5px 10px;
        font-size: clamp(10px, 0.54vw, 14px);
        width: 90%;
        height: auto;
        min-height: 35px;
        margin-top: 6rem;
        color: #3B82F6;
       
    }
    .a_recherche{
        font-size: clamp(10px, 0.54vw, 15px);
    }
    .fa-circle-dot{
        margin-top: 0.34rem;
    }
    
    .btn {
        display: flex; /* Boutons l'un sur l'autre */
        width: 100%;
        align-items: center;
        gap: 10px;
        margin-top: 1rem;
    }
     .container_main1{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: auto;
        min-height: 1420px;
        margin-top: 2rem;
    }
    .first_main{
         display: flex;
        justify-content: center;
        align-items: center;
       
        flex-direction: column;
        width: 100%;
        height: auto;
        text-align: center;
    }
    .p_description{
       
        text-align: center;
    }
    .second_main{
        margin-top: 2rem;
        justify-items: center;
        align-items: center;
        flex-direction: column;
        width: 90%;
        height: auto;
        
        padding: 20px 20px;
        
    }
   
    .boite{
        justify-items: center;
        align-items: center;
        display: flex;
        width: 100%;
        height: auto;
        padding: 20px 0px;

        
    }
    .boite_name{
        width: 50%;
        height: auto;
        flex-wrap: nowrap;
    }
    
     .boite_mail{
        width: 48%;
        height: auto;
        flex-wrap: nowrap;
    }
     .boite_github{
        width: 50%;
        height: auto;
        flex-wrap: nowrap;
    }
     .boite_link{
        width: 50%;
        height: auto;
        flex-wrap: nowrap;
    }
    .myname{
        flex-wrap: nowrap;
        width: 150px;
        font-size: clamp(12px,0.54vw,14px);
    }

    .boite2{
        justify-items: center;
        align-items: center;
        display: flex;
        width: 100%;
        height: auto;
    }
    h3{
        text-align: center;
    }

    .Parcours{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        min-height: 1500px;
    }
    .parcours1{
        display: flex;
        width: 40%;
    }
    .formation_container{
        width: 100%;
        flex-direction: column;
    }
    .form_description{
        width: 80%;
        font-size: clamp(13px,0.54vw,14px);
    }
     .section-subtitle{
        width: 80%;
        font-size: clamp(13px,0.54vw,14px);
    }
    .container_form1{
        width: 90%;
        height: auto;
        min-height: 240px;
    }

     .h3-project{
    font-size: clamp(20px, 1.74vw, 25px);
    
}
    .projet{
        width: 80%; /* Boutons pleine largeur */
        max-width: 150px;
    }
    .download {
        width: 80%; /* Boutons pleine largeur */
        max-width: 50px;
    }

     .container_main1{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: auto;
        min-height: 1600px;
        margin-top: 0.5rem;
    }

    .profil{
        width: 50%;
    }
    .parcours1{
        width: 50%;
    }

    .Parcours{
        height: auto;
        min-height: 1500px;
    }

    .experience-section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
  
    .experience-container{
        flex-direction: column;
        width: 100%;
        height: auto;
    }

   

    .card-header1 h3{
        text-align: left;
        flex-wrap: wrap;
    }
    .badge-type{
        font-weight: 500;
    }
    .myname{
        font-size: clamp(11px, 0.54vw,14px);
    }
    .myname a{
        font-size: clamp(11.5px, 1.54vw,14px);
    }

    .stack-section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .stack-grid{
    display: flex;         /* Indispensable pour que le reste fonctionne */
    flex-direction: column;
    align-items: center;    /* Centre horizontalement en mode colonne */
    justify-self: center; /* Centre verticalement (si la section a une hauteur) */
    text-align: center;     /* Centre le texte à l'intérieur des blocs */
    width: 100%;
    height: auto;
    
    }
    .stack-card{
        
        width: 90%;
    }
    h1{
        white-space: normal;
    }
    .me{
        width: 100%;
    }

    /* partie project */

    .project{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    /* partie certification */

    .Certif{
        display: flex;
        align-items: center;
        flex-direction:column ;
    }

    .certif-article article {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    /* partie services  */
     
    .services{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
}
@media screen and (min-width: 781px) and (max-width: 1400px) {

    body{
        height: 100%;
    }
   .hero {
        justify-content: space-between;
        padding: 25px 20px;
    }
    .container_main{
        margin-top: 15rem;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }
    .theme-btn{
        margin-left: 40rem;
    }
    .Recherche{
        width: 60%; 
        margin-top: 2rem;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
        padding: 5px 10px;
       
        font-size: clamp(1rem, 0.54vw, 15px);
        
    }
    .a_recherche{
        font-size: clamp(16px, 0.54vw, 15px);
    }
    .fa-circle-dot{
        margin-top: 0.5rem;
    }
    h2{
        font-size: 1.2rem;
    }
    .description{
        font-size: clamp(1.2rem, 2vw + 0.5rem, 1.5rem);
        width: 90%;
        text-align: center;
    }
     .btn {
        display: flex; /* Boutons l'un sur l'autre */
        width: 100%;
        align-items: center;
        gap: 10px;
        margin-top: 1rem;
    }
    #auto-typing{
        font-size: 2rem;
    }
    
    .projet{
        width: 100%; /* Boutons pleine largeur */
        max-width: 250px;
        height: 4rem;
        font-size: 1.2rem;
    }
     
    .download {
        width: 80%; /* Boutons pleine largeur */
        max-width: 70px;
         height: 4rem;
    }


    ul {
        display: none; 
        position: absolute;
        top: 150px;
        left: 5%;
        width: 90%;
        flex-direction: column; 
        gap: 30px;
        height: auto;
        padding: 30px;
        border-radius: 15px;
        background: #0F172A; /* Ta couleur */
        border: 1px solid #1E293B;
        z-index: 999;
    }

    li:hover{
    display: block;
    width: 200px;
    padding:10px;
    background:rgba(95,121,187,0.7);
    backdrop-filter:blur(80px);
    border-radius: 10px;
}

    @keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}
    .burger-menu {
        
        margin-top: 0.8rem;
        display: flex;
    }
    ul.active {
        display: flex; 
        animation: fadeIn 0.3s ease-in-out;
    }
    
  
    li {
        font-size: 12px; /* Texte un peu plus petit */
    }

   
    h1 {
        text-align: center;
        flex-wrap: wrap;
        font-size: clamp(4rem, 5vw + 1rem, 2.2rem); 
    }

    h2{
        text-align: center;
        flex-wrap: wrap;
        font-size: clamp(0.8rem, 5vw + 1rem, 1.2rem);
    }
    .container_main1{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: auto;
        min-height: 1450px;
        margin-top: 2rem;
    }
    .first_main{
        
         display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: auto;
        text-align: center;
    }
    .p_description{
        text-align: center;
    }
    .second_main{
        margin-top: 2rem;
        justify-items: center;
        align-items: center;
        flex-direction: column;
        width: 60%;
        height: auto;
        min-height: 500px;
        padding: 20px 20px;
        
    }

    .me{
        height: 350px;
    }

    .boite{
        justify-items: center;
        align-items: center;
        display: flex;
        width: 100%;
        height: auto;
        padding: 20px 0px;

        
    }
    .boite_name{
        width: 50%;
        height: auto;
        flex-wrap: nowrap;
    }
    
     .boite_mail{
        width: 48%;
        height: auto;
        flex-wrap: nowrap;
        
    }
     .boite_github{
        width: 50%;
        height: auto;
        flex-wrap: nowrap;
    }
     .boite_link{
        width: 50%;
        height: auto;
        flex-wrap: nowrap;
    }
    .myname{
        flex-wrap: nowrap;
        width: 150px;
        font-size: clamp(12px,0.54vw,14px);
    }

    .boite2{
        justify-items: center;
        align-items: center;
        display: flex;
        width: 100%;
        height: auto;
    }
    h3{
        text-align: center;
    }

    .Parcours{
        flex-direction: column;
        justify-items: center;
        align-items: center;
        height: auto;
        min-height: 900px;
    }
    .parcours1{
        display: flex;
        width: 20%;
    }
    .profil{
        width: 30%;
    }
    .formation_container{
        width: 100%;
        justify-content: center;
         display: flex;
        align-items: center;
        flex-wrap: wrap;
        height: auto;
       
    }
    .form_description{
        width: 80%;
        font-size: 1.2rem;
    }
     .section-subtitle{
        width: 80%;
        font-size: clamp(17px,0.54vw,18px);
    }
    .container_form1{
        
        width: 45%;
        height: auto;
    }

     .h3-project{
    font-size: clamp(20px, 1.74vw, 25px);
    
}

/* partie expérience */

.experience-container{
    width: 70%;
}

/* partie stack */
.stack-grid{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
 .stack-card{
    width: 45%;
 }

.stack-subtitle{
    font-size: 1.2rem;
}

.project{
    height: auto;
    padding: 2rem 1rem;
}

/* les projets passent en colonne */
.project .tech-project{
    justify-content: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

/* carte projet */
.project .project-art{
    justify-content: center;
    width: 40%;
    height: auto;
    margin: 2rem 0;
    border-radius: 20px;
}

/* image */
.img-project{
    width: 88%;
    height: 220px;
    margin: 1.8rem auto;
    display: block;
    justify-items: center;
}

/* titre */
.title{
   font-size: clamp(16px, 1.39vw, 20px);
    margin: 1rem 1.5rem;
}

/* description */
.project-desc{
    width: auto;
    margin: 1rem 1.5rem;
    font-size: clamp(12px, 0.97vw, 14px);
}

/* badges */
.badges-project{
    margin: 1rem 1.5rem;
}

/* bouton */
.btn-project{
    width: 85%;
    margin: 1.5rem auto 2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project .btn-center{
    display:flex;
    justify-content:center;
    align-items:center;
    margin:2rem 0;
}

.btn-project-autre{
    width:auto; 
    min-width: 300px;
    height:48px;
    margin:0 auto; /* centre le bouton */
    border-radius:25px;
    font-size: clamp(12px, 0.90vw, 13px);
}


.Certif {
        height: auto;
        padding: 3rem 1rem;
    }

    .Certif .desc-certif {
        font-size: 1.2rem;
        margin: 1rem auto;
        text-align: center;
        padding: 0 45px 0 45px;
    }

    .certif-article {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;
        padding: 0;
    }

    .certif-article article {
        width: 35vw;
        height: auto;
        margin: 2rem auto 0 auto;
        padding: 2rem 1rem;
        gap: 0.5rem;
    }
    .desc-certif{
        
    }

    .badges-project-certif {
        flex-direction: column;
        gap: 8px;
        margin: 0.3rem 0 0 0;
    }

    .img-certif {
        width: 60px;
        margin: 1.5rem 0 0 0;
    }

    .title-certif {
        font-size: 14px;
        margin: 0.5rem 0 0 0;
    }

    .institut {
        font-size: 13px;
        margin: 0.3rem 0 0 0;
    }

    .btn-certif {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 140px;
        height: 36px;
        font-size: clamp(12px, 0.90vw, 13px);
        margin: 1.2rem 0 0 0;
    }

  

    /* partie services */

    .services-text{
        font-size: 1.2rem;
    }

    /* partie contact  */


    
.contact{
padding:auto;
}

.contact-title{
 font-size: clamp(22px, 1.94vw, 28px);
}

.contact-subtitle{
margin-bottom:40px;
font-size: 1.2rem;
}

.contact-container{
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
gap:30px;
}

.contact-form{
width: 100%;
height: auto;
padding:20px;
}

.contact-form h3{
font-size: clamp(16px, 1.25vw, 18px);
}

.contact-form input,
.contact-form textarea{
padding:12px;
font-size: clamp(12px, 0.97vw, 14px);
}

.contact-form textarea{
height:100px;
}

.contact-form button{
padding:12px;
font-size: clamp(12px, 0.97vw, 14px);
}

.contact-info{
width: 100%;
gap:15px;
}

.info-box{
width: 100%;
padding:20px;
}

.info-box h4{
width: 80%;
font-size: clamp(14px, 1.11vw, 16px);
}

/* footer */

.footer {
        padding: 1.5rem 1rem;
    }

    .footer p {
        font-size: clamp(12px, 0.97vw, 14px);
    }

    .footer span {
        font-size: clamp(10px, 0.83vw, 12px);
    }
   
}





